{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block test_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Obelisk Jewellery {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid">
    <div>
      <div class="bg-light text-dark row">
        <div class="col-4"></div>
        <div class="col-4">
          <!--Site title-->
          <h2 class="logo-font text-dark my-0 text-center d-flex justify-content-center"><strong>Obelisk</strong>
          </h2>
          <h2 class="logo-font text-dark my-0 text-center d-flex justify-content-center">Jewellery</h2>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-center float-right">
            <a class="{% if grand_total %} font-weight-bold{% else %} text-dark{% endif %}" href="{% url 'view_bag' %}">
              <div class="text-center">
                <div class="text-center"><i class="text-dark fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0 text-dark">
                  {% if grand_total %}
                  £{{ grand_total|floatformat:2 }}
                  {% else %}
                  £0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </div>
        </div>
        <!--First navbar containing links to my account, orders, home, product management and logout-->
        {% if request.user.is_authenticated %}
        {% else %}
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'account_login' %}">
            My Account
          </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'account_signup' %}">
            Register
          </a>
        </div>
        {% endif %}
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'home' %}">
            Home
          </a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'profile' %}">
            Profile
          </a>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'add_product' %}">
            Add product
          </a>
        </div>
        {% endif %}
        <div class="col-3 d-flex justify-content-center">
          <a class="text-uppercase text-dark" href="{% url 'account_logout' %}">
            Logout
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <!--Free delivery banner-->
    <div class="row text-center">
      <div class=" col bg-dark text-white">
        <h5 class="logo-font my-1 text-light">Free delivery on orders over £{{ free_delivery_threshold }}!
        </h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-dark" style="background-color: rgb(177, 260, 230);">
        <!--Second navbar containing categories of necklaces, bracelets, rings, brooches, earrings, combinations and sale-->
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <h6 class="navbar-brand text-uppercase nav-item">Categories</h6>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=necklaces">Necklaces</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=bracelets">Bracelets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=rings">Rings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=brooches">Brooches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=earrings">Earrings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase text-dark pt-3" aria-current="page"
                    href="{% url 'products' %}?category=combinations">Combinations</a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="dropbtn ml-4" style="background-color: rgb(177, 260, 230);">
                      <h6>All <i class="fas fa-caret-down"></i></h6>
                    </button>
                    <div class="dropdown-content">
                      <a href="{% url 'products' %}?sort=price&direction=asc">Sort by price</a>
                      <a href="{% url 'products' %}?sort=rating&direction=desc">Sort by rating</a>
                      <a href="{% url 'products' %}?sort=category&direction=asc">Sort by category</a>
                      <a href="{% url 'products' %}?category=sale">Sale</a>
                      <a href="{% url 'products' %}">All products</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--Third navbar with a search bar to enable searches of products-->
        <div class="row">
          <div class=" col bg-dark">
            <nav class="navbar navbar-light bg-dark">
              <div class="container-fluid">
                <form method="GET" action="{% url 'products' %}" class="d-flex">
                  <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search text-light"></i></button>
                </form>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}

  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer class="container">
    <!--Statement-->
    <div class="text-center mb-3">
      <h4 class="font-italic">Jewellery for every budget</h4>
    </div>
    <!--Navbar for useful info such as contact details, delivery options, payment methods, Ts & Cs, returns & refunds, manufacture-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
      <div class="container-fluid" style="background-color: rgb(163, 162, 162); color: black;">
        <h6 class="navbar-brand text-uppercase text-dark">Useful info</h6>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link text-uppercase text-dark" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'deliver' %}">Delivery Options</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'payment' %}">Payment Methods</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'ts_and_cs' %}">Terms & Conditions</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'refund' %}">Returns & Refunds</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'manufacture' %}">Manufacture</a>
            <a class="nav-link text-uppercase text-dark" href="{% url 'ring_sizes' %}">Ring Sizes</a>
          </div>
        </div>
      </div>
    </nav>
    <!--Payment methods-->

    <div class="row">
      <!--Payment methods (icons)-->
      <div class="col-3 d-flex justify-content-center">
        <i class="fab fa-paypal"></i>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <i class="fab fa-cc-visa"></i>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <i class="fab fa-cc-mastercard"></i>
      </div>
      <div class="col-3 d-flex justify-content-center"><i class="fab fa-cc-amex"></i>
      </div>
    </div>
    <!--Social media links-->
    <div class="row">
      {% load social_share %}
      <div class="col-3 d-flex justify-content-center social-media">
        {% post_to_facebook object_or_url "<p style='color: black;'>Facebook</p>" %}
      </div>
      <div class="col-3 d-flex justify-content-center social-media">
        {% post_to_twitter object_or_url%}
      </div>
      <div class="col-3 d-flex justify-content-center social-media">
        {% post_to_whatsapp object_or_url "<p style='color: black;'>Whatsapp</p>" %}
      </div>
      <div class="col-3 d-flex justify-content-center social-media">
        {% post_to_telegram object_or_url %}
      </div>
    </div>
    <!--Copyright statement-->
    <div class="mb-3">
      <i class="far fa-copyright"></i>
      2021 Obelisk Jewellery
    </div>

  </footer>

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  {% endblock %}
</body>

</html>